@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
* {
margin: 0;
padding: 0;
}
body {
background: #c2e2da;
font-family: 'Roboto', sans-serif;
}
.button {
border: 1px solid #fff;
border-radius: 20px;
color: #fff;
font-size: 11px;
font-weight: 500;
letter-spacing: 1px;
padding: 15px 60px;
text-decoration: none;
text-transform: uppercase;
}
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {
background: #f4f8f7;
border: none;
font-weight: 300;
margin: 5px;
padding: 10px;
width: 280px;
}
.submit-btn {
border: none;
border-radius: 25px;
color: #fff;
cursor: pointer;
font-size: 11px;
letter-spacing: 1px;
margin-top: 20px;
padding: 15px 50px;
text-transform: uppercase;
}
#login .submit-btn {
background: #3aa7b1;
}
#register .submit-btn {
background: #3aaf9f;
}
#container {
background: #ededed;
border-radius: 10px;
height: 500px;
margin: 5% auto;
overflow: hidden;
width: 1000px;
}

#login {
background: #fff;
float: left;
height: 100%;
position: relative;
width: 50%;
text-align: center;
top: -550px;
z-index: 1;

}
#register {
background: #fff;
float: right;
height: 125%;
position: relative;
width: 50%;
text-align: center;
top: -620px;
z-index: 1;

}

#register h1 {
padding: 23% 0 25px;
}

#login h1 {
color: #3aa7b1;
padding: 17% 0 25px;
}
#register h1 {
color: #3aaf9f;
}
#login p,
#register p {
font-size: 12px;
font-weight: 300;
letter-spacing: 0.3px;
padding: 20px;
}
#forgot-pass,#login-via-otp {
/* border-bottom: 1px solid #ccc; */
color: #594f4f;
font-size: 12px;
font-weight: 500;
letter-spacing: 0.3px;
padding: 3px;
text-decoration: none;
font-style: italic;
}
#signup {
background: #3aa7b1;
color: #fff;
height: 550px;
margin: 0 0 0 50%;
position: relative;
text-align: center;
transition: margin 0.7s, background 0.5s, display 1s, width 1s;
width: 50%;
z-index: 5;
border-top-right-radius: 50px;
border-bottom-right-radius: 100px;
border-top-left-radius: 50px;
border-bottom-left-radius: 100px;
}


#signup h1 {
padding-top: 38%;
}
#signup p {
font-weight: 300;
line-height: 22px;
padding: 30px 45px 40px;
}
.sign-in {
display: none;
}
.sub {
position: relative;
top: -11px;
}
#signup:target {
background: #3aaf9f;
margin: 0;
}
#signup:target .sign-up {
display: none;
}
#signup:target .sign-in {
display: inline-block;
}
#signup:target .login-div {
width: 35%;
}
#credit {
color: #999;
font-size: 14px;
}


.w-90{
    width:93% !important;
    float: inline-end !important;
    /* clear: right !important; */

}

.mb-4 {
    margin-bottom: 0rem !important; 
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.8rem !important;
}

.gap-4 {
    gap: 0.0rem !important;
}

.mb-6 {
    margin-top: 0rem;
}

.mb-4 img{
    vertical-align: middle !important;
}